  html body
  {
    background-color: antiquewhite;
  }
  #solutionName
  {
     color:grey;
     font-family: serif;
  }
  .btn-replay
  {
    float:right !important;
  }

  .outerJigsawDiv
  {
    margin-top: 60px;
  }
  .jigsawHeaderRow
  {
        margin-top: 51px;
        background-color:lightcoral;
  }
  #collage
  {
    margin-top: 52px;
  }
  #collage #sortable {
    list-style-type: none;
    display: inline-block;
    padding: 0;
   
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rosybrown;
}
.footer
{
   
    position: absolute;
    bottom: 0px;
    background-color: black;
    height: 100px;
    width: 100%;
    text-align: center;
}
 #collage #sortable li {
        background-size: 400% 400%;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        float: left;
        
    }

    @media only screen and (max-width : 320px) {
       
       .outerJigsawDiv
       {
         width: 270px;
         height:270px;
      
        
       }
       

 }

 @media only screen and (min-width : 360px) and (max-width: 769px) {
       
       .outerJigsawDiv
       {
         width:320px;
        height: 320px;
       
       
       }
       
 }
@media only screen and (min-width :770px) {
       
       .outerJigsawDiv
       {
         width:350px;
        height:350px;
       
       
       }
       canvas{
          width:1000px;
          height:1000px;
       }
       

 }






