html body
{

height: 100%;
overflow: hidden;
width: 100%;
position: fixed;

}
  #collage
  {
    background-color: aliceblue;
    margin-top:65px;
  }
 
.navBarJigsaw
{
  background-color:goldenrod!important;
  width:100%;
}
 
 .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a
 {
   color:white!important;
   
 }
 .navbar-inverse
 {
   border-color:goldenrod!important;
 }
  #collage #sortable {
    list-style-type: none;
    display: inline-block;
    padding: 0;
   
}
#blockRotate
{
   background-color: transparent;
}

.footer
{
   
    position: absolute;
    bottom: 0px;
    background-color:black;
    height: 100px;
    width: 100%;
    text-align: center;
}
canvas
{
  margin-top: 52px;
  background-color: transparent;
}

    #collage #sortable li {
        background-size: 400% 400%;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        float: left;
        
    }

    @media only screen and (max-width : 320px) {
       
       .outerJigsawDiv
       {
         width: 270px;
         height:270px;

      
        
       }
       .btn-replay
       {
        width:60%;
       }

 }

 @media only screen and (min-width : 360px) and (max-width: 769px) {
       
       .outerJigsawDiv
       {
          width: 291px;
          height: 291px;
          margin-top: 80px;
       
       
       }
       .btn-replay
       {
        width:60%;
       }

 }
@media only screen and (min-width :770px) {
       
       .outerJigsawDiv
       {
         width:435px;
        height:435px;
       
       
       }

 }






