<div class="row jigsawHeaderRow">
		<center><h4>{{solutionData.playerData.name}}</h4></center>
	</div>
<div class="container">
	<div class="row">
			
	</div>
<div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <div name="blockRotate">
		  	<center id="blockRotate"></center>
		  </div>  
		</div>
	</div>
	<div class="row">
		
			<div class="col">
				<center>
                     <button type="button" class="btn btn-warning btn-replay" ng-click="playAgain(solutionData.playerData.id)">Play Again</button>
				</center>
			</div>
		
		

	</div>
</div>