<script type="text/javascript">
        ga('send', 'pageview',{
      'page': '/app/templates/jigsaw_puzzle.html',
      'title': 'JIGSAW_PAGE'
    });
</script>
<div class="containerJigsaw">

<img id="dummyImage" ng-src="{{puzzleData.playerData.photo}}" alt="The Scream" style="display:none;" onload="draw()">

  <canvas id="myCanvas" width="400" height="400"style="display:none;">
  </canvas>
     <div id="collage">
       <center><div class="outerJigsawDiv">
                <ul id="sortable" class="sortable"></ul>
                 
                  <img id="actualImage" src="" style="display:none"/>
                  
         </div>
      </center>
       

    </div>


</div>

  

