<script type="text/javascript">
        ga('send', 'pageview',{
      'page': '/app/templates/jigsaw_solution.html',
      'title': 'JIGSAW_SOLUTION_PAGE'
    });
</script>
<div name="blockRotate">
	<center id="blockRotate"></center>
</div>  
		
      <center>
             <span id="playerName">{{solutionData.playerData.name}}</span>
     </center>
			<br>
          <center>
  				 <button type="button" class="btn btn-warning btn-replay" ng-click="playAgain(solutionData.playerData)">Play Again</button>
		  </center>
			