
<img id="dummyImage" ng-src="data/images/jwala-gutta.jpg" alt="The Scream" style="display:none;" onload="draw()">

  <canvas id="myCanvas" width="400" height="400"style="display:none;">
  </canvas>
     <div id="collage">
       <center> <h2>Image Puzzle</h2><center>
        <hr />
      
            <center><div class="outerJigsawDiv">
                <ul id="sortable" class="sortable"></ul>
                 
                  <img id="actualImage" src="" style="display:none"/>
                  
              
           
        </div></center>
       

    </div>

  <div id="dialog" title="Jigsaw">

 
</div>

